* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 600;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #f8f6f6;
  box-shadow: 0px 4px 12px rgba(102, 126, 234, 0.2);
}

.img-wrapper {
  position: relative;

  img {
    width: 400px;
  }
}

.tag {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 4px 8px;
  background-color: #202020;
  border-radius: 12px;

  display: flex;
  align-items: center;
}

.tag > span {
  font-size: 10px;
  color: #fafafa;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.product-information {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 8px;
}

.product-information > h2 {
  font-size: 16px;
  font-weight: 400;
  color: #8f8f8f;
  line-height: 1.625rem;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.footer-card > button {
  border: none;
  padding: 12px;
  background-color: #202020;
  color: #fafafa;
  border-radius: 6px;
  min-width: 100px;
  &:hover {
    background-color: #f8f6f6;
    color: #202020;
    border: 1px solid #202020;
    transition: all 300ms ease;
  }
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.prices > span {
  font-size: 14px;
  text-decoration: line-through;
  color: #c2c2c2;
}

.prices > h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
